TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_REPORT_CHAT_ID=replace_me
# Examples:
# TELEGRAM_REPORT_CHAT_ID=-1002186739705/4
# TELEGRAM_REPORT_CHAT_ID=https://t.me/c/2186739705/4
TELEGRAM_SOURCE_CHAT_ID=-1001169689924
TELETHON_API_ID=
TELETHON_API_HASH=
TELETHON_SESSION_NAME=./data/telethon_user
TELETHON_STRING_SESSION=
SITE_BASE_URL=https://device.workwatch.pro/
SITE_LOGIN_PATH=/login.php
SITE_SERVICE_REQUESTS_PATH=/views/service_requests/index.php
SITE_USERNAME=replace_me
SITE_PASSWORD=replace_me
DATABASE_PATH=./data/tgdevice.sqlite3
TIMEZONE=Europe/Moscow
REPORT_HOUR=08:00
POLL_SLEEP_SECONDS=30
